{% extends 'base.html' %} {% block main%}

<main class="main">
  <section id="hero" class="hero section dark-background">
    <img src="/static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" />

    <div class="container d-flex flex-column align-items-center">
      <div class="col-lg-6 container">
        <h3 class="my-4">Verify using OTP</h3>
        <p>an OTP send to {{phone}}</p>
        <form action=""method="post"data-aos="fade-up"data-aos-delay="500">
          {% csrf_token %}
          <div class="row gy-4" >
            <div class="col-md-10">
              <!-- <input type="text" name="name" class="form-control" placeholder="Movie Name" required=""> -->
              {{form.otp}}
              {% if form.otp.errors %}
              <p class="small text-danger" style="font-size: 15px;text-shadow: 0 0 5px black;">{{form.otp.errors.0}}</p>
              {% endif %}
            </div>
            
            <div class="col-md-10 text-center">
              <button
                type="submit"
                style="color: #ffffff;background-color: #ff4a17;border: 0px;padding: 10px 30px;transition: 0.4s;border-radius: 50px;">Verify</button>
            </div>

            <div class="col-md-12 text-center">
              
              {% if error %}
              <p class="small text-danger" style="font-size: 15px;text-shadow: 0px 0px 5px black;">{{error}}</p>
              {% endif %}

            </div>

          </div>
        </form>
        <p class="text-danger text-center small" id="timer">Time</p>
      </div>
      <!-- End Contact Form -->
    </div>
  </section>
</main>

<script>
    let timeLeft = parseInt('{{ remaining_time|default:0 }}');
    let timerElement = document.getElementById('timer');

    function updateTimer() {
        if (timeLeft <= 0) {
            timerElement.innerHTML = `
            <a class="btn btn-primary mt-3" href='{% url 'phone-otp' %}'>Resend OTP</a>
                `;
        } else {
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            timerElement.innerText = `Time left: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            timeLeft--;
            setTimeout(updateTimer, 1000);
        }
    }

    updateTimer();
</script>

{% endblock %}
