{% extends 'base.html' %}

{% block main %}

<main class="main">
  <section id="hero" class="hero section dark-background">
    <img src="/static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" />

    <div class="container d-flex flex-column align-items-center">
      <div class="col-lg-6 container">
        <h3 class="my-4">Login</h3>
        <form action="" method="post" data-aos="fade-up" data-aos-delay="500">
          {% csrf_token %}
          <div class="row gy-4" >
            <div class="col-md-10">
              <!-- <input type="text" name="name" class="form-control" placeholder="Movie Name" required=""> -->
              {{form.phone}}
              {% if form.phone.errors %}
              <p class="small text-danger" style="font-size: 15px;text-shadow: 0 0 5px black;">{{form.phone.errors.0}}</p>
              {% endif %}
            </div>
            <!-- <div class="col-md-12 container"> -->
            <div class="container">
              <!-- <input type="file" class="form-control" name="photo" placeholder="Movie Banner" required=""> -->
              {{form.password}} {% if form.password.errors %}
              <p class="small text-danger" style="font-size: 15px;">{{form.password.errors.0}}</p>
              {% endif %}
            </div>
            <div class="col-md-12 text-center">
              <button
                type="submit"
                style="
                  color: #ffffff;
                  background-color: #ff4a17;
                  border: 0px;
                  padding: 10px 30px;
                  transition: 0.4s;
                  border-radius: 50px;">Login</button>
            </div>

            <div class="col-md-12 text-center">
              
              {% if error %}
              <p class="small text-danger" style="font-size: 15px;text-shadow: 0px 0px 5px black;">{{error}}</p>
              {% endif %}

            </div>
              <div class="col-md-12 text-center">
                <p style="font-size: 20px;">don't have an account? <a href="{% url 'signup' %}">SignUp now</a> </p>
              </div>
          </div>
        </form>
      </div>
      <!-- End Contact Form -->
    </div>
  </section>
</main>
{% endblock %}
