{% extends 'base.html' %}

{% block main %}

<main class="main">

  <!-- Movie Hero Section -->
  <section class="section" style="padding-top:120px; background-color:#0c0c0c; color:white; position:relative;">

    <!-- Background image -->
    <img src="/static/assets/img/hero-bg.jpg"
         style="position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; opacity:0.2;">

    <div class="container position-relative" style="z-index:1; padding-top:40px;">

  <!-- Search Bar -->
  <div class="row mb-4">
    <div class="col-md-8 mx-auto">
    <form action="" method="get">
      <div class="input-group input-group-lg">
        <span class="input-group-text bg-white text-dark border-secondary"><i class="bi bi-search"></i></span>
            <input type="text" name="query" {% if query %} value="{{query}}" {% endif %}
            class="form-control bg-white text-dark border-secondary"
            placeholder="Search places...">
    </form>
      </div>
    </div>
  </div>

  <!-- Places List -->

  {% for place in places %}
  <div class="row g-3 justify-content-center my-2">

    <!-- Card 1 -->
    <a href="{% url 'add-place' place.uuid %}{% if next and uuid %}?next={{next}}&uuid={{uuid}}{% endif %}" class="col-md-8">
      <div class="card bg-white text-white border-secondary">
        <div class="card-body d-flex align-items-center">
          <div class="me-3 fs-2 text-secondary">
            <i class="fa-solid fa-city"></i>
          </div>
          <div>
            <h5 class="mb-1">{{ place.name }}</h5>
          </div>
        </div>
      </div>
    </a>

  </div>
  {% endfor %}
</div>
     

  </section>
</main>
{% endblock %}