{% extends 'base.html' %}

{% block main %}


<main class="main">

  <section class="section" style="padding-top:120px; background-color:#0c0c0c; color:white;">

    <form action="{% url 'booking' movie.uuid screen_date_time.uuid %}" method="post">
      {% csrf_token %}
    <div class="container">

      <div class="text-center mb-4">
        <p class="text-white">₹{{price}}</p>
        <hr style="width: 40%; margin: 0px auto;" >
      </div>

      <!-- Seat Layout -->

      <div class="seat-layout text-center">

        <!-- Row A -->

        {% for row,seats in all_seats_dict.items %}
        <div class="d-flex justify-content-center mb-2 align-items-center">
          <span class="me-2 text-light">{{row}}</span>
          
          <!-- Left block -->
          <div class="d-flex justify-content-end " style="width: 220px;">
            {% for seat in seats %}
            {% if seat.seat_num <= 5 %}
            <label style="margin: 0 4px; cursor: pointer;">
              <input type="checkbox" name="selected_seats" value="{{seat.uuid}}" style="display: none;">
              {% movie_booked movie screen_date_time seat as booked %}
              <span class="seat-box" {% if booked %} style="background-color: #606060; border-color: #3d3d3d; color: #cacaca;" disabled {% endif %}>
                {{ seat.seat_num }}
              </span>
            </label>
            {% endif %}
            {% endfor %}
          </div>
          
          <div style="width: 60px;"></div>
          <!-- Right block -->
          <div class="d-flex justify-content-start" style="width: 220px;">
            {% for seat in seats %}
            {% if seat.seat_num > 5 %}
            <label style="margin: 0 4px; cursor: pointer;">
              <input type="checkbox" name="selected_seats" value="{{ seat.uuid }} " style="display: none;">
              {% movie_booked movie screen_date_time seat as booked %}
              <span class="seat-box" {% if booked %} style="background-color: #606060; border-color: #3d3d3d; color: #cacaca;" disabled {% endif %}>
                {{ seat.seat_num }}
              </span>
            </label>
            {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
      {% endfor %}

      <!-- Screen Indicator -->
      <div class="mt-5 text-center">
        <div style="background:#666; height:6px; width:60%; margin:auto; border-radius:3px;"></div>
        <small class="text-muted">{{screen_date_time.screen.name}}</small>
      </div>

      <!-- Confirm Button -->
      <div class="text-center mt-5">
        <button type="submit" class="btn btn-warning">Proceed to Payment</button>
      </div>

    </div>
    </form>
  </section>

</main>

{% endblock %}